h1 {
  color: purple;
  font-size: 50px;

}

h2 {
  color: gold;

}

p {
  color: #fff;

}

li {
  color: blue;
  text-decoration: underline;
}

ul {
  color: red;
}

body {
  color: green;
  background-color: #899700;
}

img {
  height: 100px;
  width: 120px;
}
